<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>

        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Bienvenue<% if ( 'undefined' != typeof user ) { %> <%= user.username %><% } %>.</h1>
                    <p>Voici les produits disponibles...</p>
                </div>
            </div>

            <% include ../partials/messages %>

            <div class="container">
                <div class="row">
                    <% for (var i = 0; i < products.length; i++) { %>
                        <div class="col-md-4 workshop-item">
                            <h2>[<%= products[i].id; %>] <%= products[i].name; %>, de <%= products[i].author; %></h2>
                            <p><%= products[i].description; %></p>
                            <p class="ordered">déjà commandés : <span><%= products[i].orders_count; %></span></p>
                            <p>
                                <a class="btn btn-secondary buyProduct" href="#" role="button" data-id="<%= products[i]._id; %>" data-toggle="modal" data-target="#loginModal">
                                    Acheter pour <%= products[i].EUR_price; %> € &raquo;
                                </a>
                            </p>
                        </div>
                    <% } %>
                </div>

                <hr>
            </div>
        </main>
        <% include ../partials/login %>

        <% include ../partials/footer %>
    </body>
</html>