<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>

        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Bienvenue<% if ( 'undefined' != typeof user ) { %> <%= user.username %><% } %>.</h1>
                    <p>Voici les produits disponibles...</p>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <% for (var i = 0; i < products.length; i++) { %>
                        <div class="col-md-4 workshop-item">
                            <h2>[<%= products[i].id; %>] <%= products[i].name; %>, de <%= products[i].author; %></h2>
                            <p><%= products[i].description; %></p>
                            <p class="ordered">déjà commandés : <span><%= products[i].orders_count; %></span></p>
                            <p><a class="btn btn-secondary" href="#" role="button" data-id="<%= products[i]._id; %>">Acheter pour <%= products[i].EUR_price; %> € &raquo;</a></p>
                        </div>
                    <% } %>
                </div>

                <hr>
            </div>
            <% if ( 'undefined' == typeof user ) { %>
                <h4>Connexion :</h4>
                <div>
                    <% if ( messages.length > 0 ) { %>
                    <p><strong>FLASH!</strong> <%= messages %></p>
                    <% } %>
                    <form action="/login" method="post">
                        <div>
                            <label>Username:</label>
                            <input type="text" name="username"/>
                        </div>
                        <div>
                            <label>Password:</label>
                            <input type="password" name="password"/>
                        </div>
                        <div>
                            <input type="submit" value="Log In"/>
                        </div>
                    </form>
                </div>
            <% } %>
        </main>

        <% include ../partials/footer %>
    </body>
</html>